.input-field-container-sales {
    position: relative;
    margin-bottom: 20px;
  }
  
  .select-container-sales {
    position: relative;
    height: 26px;
  }
  
  /* .floating-label-sales {
    position: absolute;
    top: -5px;
    height: 6px;
    background: white;
    padding: 0 5px;
    font-size: 13px;
    color: #A26D2B;
    z-index: 1000;
    margin-left: 7px;
  } */
  .floating-label-sales {
    position: absolute;
    top: -5px;
    height: 10px;
    background: white;
    padding: 0 5px;
    font-size: 13px;
    color: #A26D2B;
    z-index: 1;
    margin-left: 7px;
    pointer-events: none; /* Prevent focus or click events */
  }
  
  
  .input-label-sales {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
  }
  
  .styled-input-sales {
    width: 100%;
    padding: 8px;
    border: 1px solid #A26D2B;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
  }
  