.dataTable_cell {
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden;    /* Hide overflowing content */
    text-overflow: ellipsis; /* Add ellipsis to truncated text */
    max-width: 200px;    /* Set a maximum width for cells */
    font-size: 14px;
  }

  .dataTable_headerCell {
    white-space: nowrap;  /* Prevent text wrapping */
    overflow: hidden;     /* Hide overflowing content */
    text-overflow: ellipsis; /* Add ellipsis for truncated text */
    max-width: 200px; 
    font-size: 14px;    /* Set a maximum width for the header cells */
  }
  
  