.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  /* background-color: rgba(218, 217, 217, 0.5); */
  color: rgb(159, 48, 48);
  font-weight: bold;
  font-size: 1.5rem;
  flex-shrink: 0;
}

.filters {
  display: flex;
  gap: 15px;
}

.filters button {
  padding: 10px 20px;
  border: none;
  background-color: rgba(218, 217, 217, 0.5);
  color: #b77318;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 40px;
}

.filters button.active {
  background-color: #944f12;
  color: white;
  border: 2px solid #b77318;
  font-weight: bold;
}

.filters button {
  transition: background-color 0.3s, color 0.3s;
}

.search-bar {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.search-bar input {
  width: 100%;
  max-width: 300px;
  padding: 0px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  height: 5vh !important;
}

.row-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin: 0 30px;
}

.metric-card {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: rgb(81, 79, 79);
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.metric-card h3 {
  font-size: 1.3rem;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #b77318;
}

.metric-card p {
  font-size: 0.8rem;
  padding: 0px;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.btn-link {
  color: rgb(214, 169, 19); /* Initial color */
}

.btn-link:hover {
  color: #944f12; /* Hover color */
}







