.stockentry-form-container{
    width: 1500px;
    margin-left: -100px;
  }

  .form-container-stockentry{
    background-color: rgba(163, 110, 41, 0.08);
  }

  .stockentrymodalformcontainer{
    margin-top: 120px;
    width: 86%;
    margin-left: 55px;

  }

  .modal-content {
    padding: 0px; /* Optional: Adjust padding for better layout */
    /* width: 250%;
    margin-left: -389px; */
  }
  
  @media (max-width: 767px)  {
  
  .stockentry-form-container {
    width: 110%;
    margin-left: -17px;
  }
  .cus-back-btn {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border: none;
    width: 85px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
}