.main-container{
    padding-top: 60px;
  }
  
  .barcode-form-container {
    max-width: 1500px;
    margin: auto;
    padding: 20px;
    margin-top: 25px;
    padding-top: 50px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .qr-button-container {
    position: absolute;
    top: 86px;
    left: 87%;
    z-index: 10;
  }
  
  .barcode-form {
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }
  
  .barcode-form-left {
    flex: 0 0 20%; /* 80% width */
  }
  
  .barcode-form-right {
    flex: 0 0 80%; /* 20% width */
  }
  
  
  .barcode-form2 {
    display: flex;
    gap: 10px;
    
  }
  
  .form-section {
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: rgba(163, 110, 41, 0.08);
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .form-row > * {
    flex: 1;
    min-width: 120px; /* Prevent items from shrinking too small */
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .image-upload-container {
    text-align: center;
  }
  
  .upload-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .upload-button:hover {
    background-color: #0056b3;
  }
  
  .image-preview {
    margin-top: 10px;
  }
  
  .image-preview img {
    max-width: 100%;
    max-height: 200px;
    margin-top: 10px;
  }
  
  
  @media (max-width: 768px) {
    .barcode-form-container {
      margin-top: 10px;
    }
  
    .barcode-form2 {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }
  
    .barcode-form {
      flex-direction: column; /* Stack sections vertically on smaller screens */
    }
  
    .barcode-form-left,
    .barcode-form-right {
      flex: 1; /* Full width for both sections */
    }
  
    .form-row > * {
      min-width: 100%; /* Stack items vertically */
    }
  
    button {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    h4 {
      font-size: 1rem;
    }
  
    input,
    select {
      font-size: 0.9rem;
    }
  
    button {
      font-size: 0.9rem;
    }
  }
  