.custom-tagentrymodal-width .modal-dialog {
  max-width: 80%; /* Adjust as needed */
}

.all_buttons {
  display: flex;
  flex-direction: row;
}

.purchase-form-container {
  max-width: 1500px;
  margin: auto;
  padding: 20px;
  margin-top: 25px;
  /* border: 1px solid #ddd; */
  border-radius: 10px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  color: #333;
}

.purchase-form {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.purchase-form-left {
  flex: 0 0 60%; /* 80% width */
}

.purchase-form-right {
  flex: 0 0 40%; /* 20% width */
}

.urd-form-section {
  margin-top: -15px;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgba(163, 110, 41, 0.08);
}
.urd-form1-section {
  height: 85%;
  width: 90%;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgba(163, 110, 41, 0.08);
}
.urd-form2-section {
  height: 118px;
  width: 113%;
  margin-left: -88px;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgba(163, 110, 41, 0.08);
}

.urd-form-row {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.urd-form-row > * {
  flex: 1;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-buttons {
  display: flex;
  gap: 5px; /* Adds 5px space between the buttons */
}

/* Responsive Design */
@media (max-width: 768px) {
  .urd-form-row {
    flex-direction: column;
  }

  .purchase-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
  }
}

.item-details-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.item-details-table th,
.item-details-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.item-details-table th {
  background-color: #f4f4f4;
}
