.payments-form-container {
    max-width: 1500px;
    margin: auto;
    padding: 20px;
    margin-top: 25px;
    padding-top: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .payments-form-section {
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: rgba(163, 110, 41, 0.08);
    
  }